.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.buttons {
  display: flex;
  gap: 10px;
}
button {
  padding: 5px 10px;
  border-radius: 3px;
}
.is-actived {
  background-color: #ddd;
}